<footer class="site-footer">
  <div class="footer-primary">
    <p>Karthik Ganeshram</p>
    <nav aria-label="Secondary navigation">
      <a href="/travel/">Travel log</a>
      <a href="/reading/">Reading list</a>
      <a href="/index.xml">RSS</a>
    </nav>
  </div>
  <div class="footer-secondary">
    <p>&copy; {{ now.Format "2006" }}</p>
    <div class="footer-social">
      <a href="https://www.linkedin.com/in/karthik-ganeshram-053830153/">LinkedIn</a>
      <a href="https://github.com/karthik2804">GitHub</a>
      <a href="mailto:raams.karthik@gmail.com?subject=Hi Karthik nice to meet you">Email</a>
    </div>
  </div>
</footer>
