<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body class="site-body font-inter">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {{- partial "header.html" . -}}
    <main
      id="main-content"
      class="site-main {{ if eq .Section "travel" }}travel-shell{{ end }}"
    >
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    {{ if eq .Section "travel" }}
      {{ with resources.Get "js/travel.js" | minify | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
      {{ end }}
    {{ end }}
  </body>
</html>
